*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*  Custom properties  */

:root{
    --gray: #999;
    --primary-color: #0061ff;
}





/*  generics  */



.bg-blue{
    background-color: var(--primary-color);
}

.bg-purple{
    background-color: blueviolet;
}

.bg-white{
    background-color: white;
}


.black-text{
    color: black;
}
.white-text{
    color: white;
}

.gray-color{
    color: gray;
}

.underlined{
    text-decoration: underline;
    color: #0061ff;
    display: inline;
}

.blue-color{
    color: var(--primary-color)
}

.bold-text{
    font-weight: bold;
}

.border{
    border: 1px solid black;
}

.flex{
    display: flex;
}

.flex-start{
    justify-content: flex-start;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-end{
    justify-content: flex-end;
}

.button{
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 12px;
    width: max-content;
}
.container{
    width: 55%;
    min-height: 300px;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1{
    width: 100%;
    font-size: 5.5rem;
    font-weight:900;
    padding-bottom: 50px;
}

h2{
    padding-bottom: 30px;
}

h3{
    width: 100%;
    font-size: 2.5rem;
    padding-bottom: 100px;
}



/*  Nav  */





nav{
    position: fixed;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: small;
    font-weight: light;
    color: rgb(74, 74, 74);
}

.right-list{
    width: 25%;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.center-gap{
    flex-basis: 50%;
}

.left-list{
    width: 25%;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}





/*  Header  */





header{
    width: 100%;
    min-height: 800px;
    padding-top: 200px;
    background-color: rgb(148, 186, 255);

}

header .container{
    width: 75%;
    flex-wrap: wrap;

}


.content{
    width: 27%;
    flex-direction: column;
    gap: 50px;
    justify-content: space-around;
}


.arrow{
    width: 30%;
}

.free-trial-btn{
    max-width: max-content;
}
.image1{
    width: 73%;
    position: relative;
    margin-bottom: -80px;
}




/*  memberships  */





.memberships{
    width: 100%;
    min-height: 2000px;
    padding-top: 200px;
    padding-bottom: 50px;
}


.monthly{
    width: 25%;
    padding-bottom: 100px;
    display: inline-block;
}

.yearly{
    width: 75%;
    padding-bottom: 100px;
    display: inline-block;
}

.circlewithpadding{
    color:#0061ff;
    border: 3px solid #0061ff;
    border-radius: 16px;
}



.m-item{
    width: calc(100% / 3 - 30px);
    min-height: 1000px;
    border: 1px solid lightgray;
}

.single-offer{
    text-align: center;
    padding: 14px;
    border-bottom: 1px solid lightgray;
}

.team-offer{
    text-align: center;
    padding: 14px;
    border-bottom: 1px solid lightgray;   
}

.business-offer{
    text-align: center;
    padding: 14px;
    border-bottom: 1px solid lightgray;
}

.team2-offer{
    text-align: center;
    padding: 14px;
    border-bottom: 1px solid lightgray;
}

.list{
    padding: 25px;
    margin-bottom: 40px;
}


.feature{
    gap: 10px;
    margin-bottom: 30px;
}

.try-now-btn{
    margin: 25px;
    width: calc(100% - 50px);
    position: relative;
    left: 0;
    right: 0;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

.buy-now{
    padding: 25px;
}




.enterprise2{
    width: 100%;
    min-height: 300px;
    margin-top: 100px;
    border: 1px solid lightgray;
    min-width: 80%;
    
}

.enterprise2-content{
    padding: 30px;

}

.team-enterprise-list{
    width: 75%;
    flex-direction: column;
    justify-content: space-between;
}


.contact-us-btn{
    width: 25%;
    align-self: flex-start;
    position: relative;
    left: 0;
    right: 0;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

.line{
    width: 30%;
    margin: 25px;
    height: 1px;
    border: 1px solid lightgray;
}

/*  Partner  */





.partner{
    width: 100%;
    min-height: 500px;
    margin-top: 100px;
}


.partner-image{
    width: 60%;
}

.partner-content{
    width: 40%;
    padding: 5%;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    flex-grow: 0;

}

.find-partner-btn{
    max-width: max-content;
}




/*  Functionalities  */





.functionalities{
    width: 100%;
    min-height: 1000px;
    margin-top: 150px;
}

.card{
    width: calc(100% / 3 - 10px);
    min-height: 700px;
    margin-bottom: 20px;
}

.f-images{
    max-width: 100%;
    max-height: 100%;
}




/*  About customers  */





.about-customers{
    width: 100%;
    height: 200px;
    margin: 100px;
}





/*   businesses   */





.businesses{
    width: 100%;
    min-height: 500px;
    background-color: khaki;
}

.group{
    width: calc(100% / 3);
    border: 1px dashed black;
    flex-wrap: wrap;
}

.square{
    width:calc(100% / 2);
    height:calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-images{
    width: 50%;
    filter: invert();

}

.designit-content{
    padding: 10%;
}

.designit-item{
    padding-bottom: 40px;
}

.s1{
    background-color: lightgreen;
}

.s2{
    background-color: darkred;
}

.s3{
    background-color: rgb(119, 139, 252);
}

.s4{
    background-color: red;
}

.designit{
    background-color: lightgray;
}

.s5{
    background-color: crimson;
}

.s6{
    background-color: lightskyblue;
}

.s7{
    background-color: blue;
}

.s8{
    background-color: yellow;
}

/*   Free trial  */





.free-trial{
    width: 100%;
    height: 300px;
    background-color: lightblue;
}

.affiliate{
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

}

.affiliate-title{
    width: 60%;
    
}






/*   questions   */





.questions{
    width: 100%;
    min-height: 400px;
}


.separator{
    width: 100%;
    height: 1px;
    background-color: black;
}


.question{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    justify-content: space-between;
    


}

/*   Footer   */





footer{
    width: 100%;
    min-height: 400px;
    background-color: black;
}

.footer-container{
    width: 65%;
    min-height: 300px;
    justify-content: space-between;
    flex-wrap: wrap;
}